n8n-powerbi-chat-workflow.json
{
  "name": "SIL - Chat IA Power BI Multiempresa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sil-ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "sil-ai-chat-webhook"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "sessionId",
              "value": "={{$json.body.sessionId || $json.sessionId || ''}}"
            },
            {
              "name": "userId",
              "value": "={{$json.body.userId || $json.userId || ''}}"
            },
            {
              "name": "chatInput",
              "value": "={{$json.body.chatInput || $json.chatInput || ''}}"
            },
            {
              "name": "company_id",
              "value": "={{$json.body.company_id || $json.company_id || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $json.sessionId;\nconst userId = $json.userId;\nconst chatInput = $json.chatInput;\nconst companyId = $json.company_id;\n\nif (!sessionId) {\n  throw new Error('sessionId nao informado');\n}\n\nif (!userId) {\n  throw new Error('userId nao informado');\n}\n\nif (!chatInput || !chatInput.trim()) {\n  throw new Error('chatInput nao informado');\n}\n\nif (!companyId) {\n  throw new Error('company_id nao informado');\n}\n\nreturn [{\n  json: {\n    ...$json,\n    chatInput: chatInput.trim()\n  }\n}];"
      },
      "id": "3",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const companyId = $json.company_id;\nconst userId = $json.userId;\n\n// Substitua este bloco por consulta real ao seu banco.\n// Exemplo esperado: validar se o userId pertence ao company_id.\nconst mockMembership = true;\n\nif (!mockMembership) {\n  throw new Error(`Usuario ${userId} nao pertence a empresa ${companyId}`);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    accessValidated: true\n  }\n}];"
      },
      "id": "4",
      "name": "Validar Vinculo Usuario Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const companyId = $json.company_id;\n\n// Substitua este bloco por query no banco:\n// select id, name, workspace_id, dataset_id from companies where id = $1\nconst companyContext = {\n  company_id: companyId,\n  company_name: 'Empresa Exemplo',\n  workspace_id: 'workspace-demo',\n  dataset_id: 'dataset-demo',\n  timezone: 'America/Sao_Paulo',\n  language: 'pt-BR'\n};\n\nreturn [{\n  json: {\n    ...$json,\n    companyContext\n  }\n}];"
      },
      "id": "5",
      "name": "Carregar Contexto Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const companyId = $json.company_id;\n\n// Substitua por leitura real do catalogo semantico da empresa.\nconst semanticCatalog = {\n  company_id: companyId,\n  tables: ['FatoVendas', 'DimProduto', 'DimCliente', 'DimCalendario', 'DimRegiao'],\n  dimensions: ['Produto', 'Cliente', 'Regiao', 'Data'],\n  measures: ['Receita Total', 'Quantidade Vendida', 'Margem', 'Ticket Medio'],\n  synonyms: {\n    faturamento: 'Receita Total',\n    receita: 'Receita Total',\n    vendas: 'Quantidade Vendida',\n    regiao: 'Regiao'\n  },\n  business_rules: [\n    'Faturamento corresponde a medida Receita Total',\n    'Ultimo mes usa calendario fechado da DimCalendario',\n    'Cliente ativo significa cliente com compra nos ultimos 90 dias'\n  ]\n};\n\nreturn [{\n  json: {\n    ...$json,\n    semanticCatalog\n  }\n}];"
      },
      "id": "6",
      "name": "Carregar Catalogo Semantico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = [\n  'Voce e um analista de dados especializado em Power BI.',\n  'Responda apenas com base no catalogo e nos dados retornados.',\n  'Nao invente metricas ou dimensoes.',\n  'Se a pergunta estiver ambigua, solicite esclarecimento.',\n  '',\n  `company_id: ${$json.company_id}`,\n  `workspace_id: ${$json.companyContext.workspace_id}`,\n  `dataset_id: ${$json.companyContext.dataset_id}`,\n  '',\n  'Catalogo:',\n  JSON.stringify($json.semanticCatalog, null, 2),\n  '',\n  `Pergunta do usuario: ${$json.chatInput}`\n].join('\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    llmPrompt: prompt\n  }\n}];"
      },
      "id": "7",
      "name": "Montar Prompt de Interpretacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este node simula a saida de um LLM.\n// Em producao, substitua por OpenAI, Azure OpenAI ou outro modelo.\nconst interpretedIntent = {\n  intent: 'analytical_query',\n  metric: 'Receita Total',\n  dimension: 'Regiao',\n  period: 'Ultimo trimestre',\n  filters: [],\n  confidence: 0.88,\n  requiresClarification: false,\n  daxTemplate: 'EVALUATE SUMMARIZECOLUMNS(...)'\n};\n\nreturn [{\n  json: {\n    ...$json,\n    interpretedIntent\n  }\n}];"
      },
      "id": "8",
      "name": "Interpretar Pergunta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.interpretedIntent.requiresClarification}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "9",
      "name": "Precisa Esclarecimento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2430,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    sessionId: $json.sessionId,\n    company_id: $json.company_id,\n    message: 'Sua pergunta ficou ambigua para o catalogo atual. Pode especificar melhor a metrica, periodo ou filtro desejado?',\n    metadata: {\n      status: 'clarification_required'\n    }\n  }\n}];"
      },
      "id": "10",
      "name": "Resposta de Esclarecimento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2690,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const intent = $json.interpretedIntent;\nconst companyContext = $json.companyContext;\n\nconst daxQuery = [\n  '-- Consulta gerada dinamicamente',\n  `-- company_id: ${$json.company_id}`,\n  `-- workspace_id: ${companyContext.workspace_id}`,\n  `-- dataset_id: ${companyContext.dataset_id}`,\n  '',\n  `-- metric: ${intent.metric}`,\n  `-- dimension: ${intent.dimension}`,\n  `-- period: ${intent.period}`,\n  '',\n  'EVALUATE',\n  'SUMMARIZECOLUMNS(',\n  \"  'DimRegiao'[Regiao],\",\n  '  \"Receita Total\", [Receita Total]',\n  ')'\n].join('\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    daxQuery\n  }\n}];"
      },
      "id": "11",
      "name": "Montar Consulta DAX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2690,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Substitua este node por chamada real a API/servico que consulta o Power BI.\nconst queryResult = {\n  rows: [\n    { Regiao: 'Sudeste', ReceitaTotal: 1200000 },\n    { Regiao: 'Sul', ReceitaTotal: 680000 },\n    { Regiao: 'Nordeste', ReceitaTotal: 420000 }\n  ],\n  totals: {\n    ReceitaTotal: 2300000\n  },\n  appliedFilters: ['Ultimo trimestre'],\n  executionTimeMs: 842\n};\n\nreturn [{\n  json: {\n    ...$json,\n    queryResult\n  }\n}];"
      },
      "id": "12",
      "name": "Executar Consulta Power BI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.queryResult.rows || [];\nconst total = $json.queryResult.totals?.ReceitaTotal || 0;\nconst topRegion = rows[0]?.Regiao || 'N/A';\nconst topValue = rows[0]?.ReceitaTotal || 0;\n\nconst answer = [\n  `O valor total encontrado foi R$ ${total.toLocaleString('pt-BR')}.`,\n  `A regiao com maior resultado foi ${topRegion}, com R$ ${topValue.toLocaleString('pt-BR')}.`,\n  'Se quiser, posso detalhar por produto, cliente ou comparar com outro periodo.'\n].join(' ');\n\nreturn [{\n  json: {\n    sessionId: $json.sessionId,\n    company_id: $json.company_id,\n    message: answer,\n    metadata: {\n      status: 'success',\n      workspace_id: $json.companyContext.workspace_id,\n      dataset_id: $json.companyContext.dataset_id,\n      interpretedIntent: $json.interpretedIntent,\n      daxQuery: $json.daxQuery,\n      appliedFilters: $json.queryResult.appliedFilters,\n      executionTimeMs: $json.queryResult.executionTimeMs,\n      rows: rows\n    }\n  }\n}];"
      },
      "id": "13",
      "name": "Montar Resposta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3230,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Persistencia opcional.\n// Substitua por insert real no banco se quiser armazenar sessao, pergunta, DAX e resposta.\nreturn [{\n  json: {\n    ...$json,\n    persisted: true\n  }\n}];"
      },
      "id": "14",
      "name": "Salvar Log da Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "15",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3770,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'error',\n    message: $json.message || 'Erro nao tratado no fluxo'\n  }\n}];"
      },
      "id": "16",
      "name": "Formatar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2690,
        600
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Validar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Payload": {
      "main": [
        [
          {
            "node": "Validar Vinculo Usuario Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Vinculo Usuario Empresa": {
      "main": [
        [
          {
            "node": "Carregar Contexto Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Contexto Empresa": {
      "main": [
        [
          {
            "node": "Carregar Catalogo Semantico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Catalogo Semantico": {
      "main": [
        [
          {
            "node": "Montar Prompt de Interpretacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt de Interpretacao": {
      "main": [
        [
          {
            "node": "Interpretar Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Pergunta": {
      "main": [
        [
          {
            "node": "Precisa Esclarecimento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Esclarecimento?": {
      "main": [
        [
          {
            "node": "Resposta de Esclarecimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Consulta DAX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta de Esclarecimento": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Consulta DAX": {
      "main": [
        [
          {
            "node": "Executar Consulta Power BI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Consulta Power BI": {
      "main": [
        [
          {
            "node": "Montar Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta Final": {
      "main": [
        [
          {
            "node": "Salvar Log da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Log da Conversa": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Erro": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
