n8n-load-catalog-webhook.json
{
  "name": "SIL - Load Catalog Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "load-catalog",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "load-catalog"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "company_id",
              "value": "={{$json.body.company_id || $json.company_id || ''}}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "workspace_id",
              "value": "={{$json.body.workspace_id || $json.workspace_id || ''}}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "dataset_id",
              "value": "={{$json.body.dataset_id || $json.dataset_id || ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.company_id) {\n  throw new Error('company_id nao informado');\n}\nreturn [{ json: $json }];"
      },
      "id": "3",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://YOUR_PROJECT.supabase.co/rest/v1/company_catalog?company_id=eq.{{$json.company_id}}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": false
        }
      },
      "id": "4",
      "name": "Fetch Company Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst rows = inputItems.flatMap((item) => {\n  if (Array.isArray(item.json)) return item.json;\n  if (Array.isArray(item.json.body)) return item.json.body;\n  return [item.json];\n});\n\nconst metrics = [...new Set(rows.filter((row) => row.artifact_type === 'measure' && row.measure_name).map((row) => row.measure_name))].sort((a, b) => a.localeCompare(b, 'pt-BR'));\nconst dimensions = [...new Set(rows.filter((row) => row.artifact_type === 'dimension' && row.table_name && row.column_name).map((row) => `${row.table_name}[${row.column_name}]`))].sort((a, b) => a.localeCompare(b, 'pt-BR'));\nconst tables = [...new Set(rows.filter((row) => row.table_name).map((row) => row.table_name))].sort((a, b) => a.localeCompare(b, 'pt-BR'));\n\nreturn [{\n  json: {\n    company_id: $('Normalize Request').first().json.company_id,\n    workspace_id: $('Normalize Request').first().json.workspace_id,\n    dataset_id: $('Normalize Request').first().json.dataset_id,\n    default_period: 'mes_atual',\n    allowed_metrics: metrics,\n    allowed_dimensions: dimensions,\n    catalog_loaded: true,\n    tables,\n    summary: {\n      total_rows: rows.length,\n      total_metrics: metrics.length,\n      total_dimensions: dimensions.length,\n      total_tables: tables.length\n    }\n  }\n}];"
      },
      "id": "5",
      "name": "Aggregate Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1420,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Fetch Company Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Catalog": {
      "main": [
        [
          {
            "node": "Aggregate Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Catalog": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
