n8n-powerbi-chat-real-workflow.json
{
  "name": "SIL - Chat IA Power BI Real",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sil-ai-chat-real",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        340
      ],
      "webhookId": "sil-ai-chat-real"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "sessionId",
              "value": "={{$json.body.sessionId || $json.sessionId || ''}}"
            },
            {
              "name": "userId",
              "value": "={{$json.body.userId || $json.userId || ''}}"
            },
            {
              "name": "chatInput",
              "value": "={{$json.body.chatInput || $json.chatInput || ''}}"
            },
            {
              "name": "company_id",
              "value": "={{$json.body.company_id || $json.company_id || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const { sessionId, userId, company_id, chatInput } = $json;\nif (!sessionId) throw new Error('sessionId nao informado');\nif (!userId) throw new Error('userId nao informado');\nif (!company_id) throw new Error('company_id nao informado');\nif (!chatInput || !chatInput.trim()) throw new Error('chatInput nao informado');\nreturn [{ json: { ...$json, chatInput: chatInput.trim() } }];"
      },
      "id": "3",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "/*\nSubstitua este node por Postgres/MySQL real.\nConsulta esperada:\nselect u.id as user_id, u.company_id, c.name as company_name, c.workspace_id, c.dataset_id\nfrom users u\njoin companies c on c.id = u.company_id\nwhere u.id = $json.userId and c.id = $json.company_id and u.status = 'active';\n*/\n\nconst companyContext = {\n  company_id: $json.company_id,\n  company_name: 'Empresa Real',\n  workspace_id: '00000000-0000-0000-0000-000000000000',\n  dataset_id: '11111111-1111-1111-1111-111111111111',\n  language: 'pt-BR',\n  timezone: 'America/Sao_Paulo',\n  powerbi_identity_mode: 'service_principal'\n};\n\nreturn [{ json: { ...$json, companyContext, accessValidated: true } }];"
      },
      "id": "4",
      "name": "Buscar Empresa e Validar Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        970,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "/*\nSubstitua por leitura real do catalogo salvo no banco.\nSe ainda nao existir catalogo persistido, rode um processo offline usando Scanner API/XMLA para popular esta tabela.\n*/\n\nconst semanticCatalog = {\n  measures: [\n    { name: 'Receita Total', description: 'Valor total faturado' },\n    { name: 'Margem', description: 'Margem total apurada' },\n    { name: 'Quantidade Vendida', description: 'Itens vendidos' }\n  ],\n  dimensions: [\n    { table: 'DimRegiao', column: 'Regiao' },\n    { table: 'DimProduto', column: 'Produto' },\n    { table: 'DimCalendario', column: 'Data' }\n  ],\n  synonyms: {\n    faturamento: 'Receita Total',\n    receita: 'Receita Total',\n    regiao: 'DimRegiao[Regiao]',\n    produto: 'DimProduto[Produto]'\n  },\n  business_rules: [\n    'Faturamento deve usar a medida Receita Total',\n    'Quando o usuario falar ultimo mes use o mes fechado anterior',\n    'Quando o usuario falar hoje considere o calendario local da empresa'\n  ]\n};\n\nreturn [{ json: { ...$json, semanticCatalog } }];"
      },
      "id": "5",
      "name": "Carregar Catalogo Semantico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = [\n  'Voce e um analista de dados especialista em Power BI.',\n  'Use apenas o catalogo fornecido.',\n  'Nao invente tabelas, colunas, medidas ou filtros.',\n  'Se a pergunta estiver ambigua, retorne requiresClarification=true.',\n  'Responda somente em JSON valido.',\n  '',\n  'Formato de saida obrigatorio:',\n  '{',\n  '  \"intent\": \"analytical_query | unsupported | clarification\",',\n  '  \"requiresClarification\": true|false,',\n  '  \"clarificationQuestion\": \"string\",',\n  '  \"metric\": \"string\",',\n  '  \"dimension\": \"string\",',\n  '  \"timeFilter\": \"string\",',\n  '  \"filters\": [\"string\"],',\n  '  \"dax\": \"string\"',\n  '}',\n  '',\n  'company_id: ' + $json.company_id,\n  'workspace_id: ' + $json.companyContext.workspace_id,\n  'dataset_id: ' + $json.companyContext.dataset_id,\n  '',\n  'Catalogo:',\n  JSON.stringify($json.semanticCatalog, null, 2),\n  '',\n  'Pergunta:',\n  $json.chatInput\n].join('\\n');\n\nreturn [{ json: { ...$json, llmPrompt: prompt } }];"
      },
      "id": "6",
      "name": "Montar Prompt LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1470,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4.1-mini\",\"temperature\":0.1,\"response_format\":{\"type\":\"json_object\"},\"messages\":[{\"role\":\"system\",\"content\":\"Voce transforma perguntas em consultas DAX seguras e responde apenas em JSON.\"},{\"role\":\"user\",\"content\":$json.llmPrompt}]}",
        "options": {}
      },
      "id": "7",
      "name": "Interpretar Pergunta com LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1730,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('LLM nao retornou conteudo');\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error('LLM retornou JSON invalido: ' + raw);\n}\nif (!parsed.intent) throw new Error('LLM nao retornou intent');\nreturn [{ json: { ...$input.item.json, interpretedIntent: parsed } }];"
      },
      "id": "8",
      "name": "Validar Saida LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.interpretedIntent.requiresClarification}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "9",
      "name": "Precisa Esclarecimento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2230,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    sessionId: $json.sessionId,\n    company_id: $json.company_id,\n    message: $json.interpretedIntent.clarificationQuestion || 'Preciso de mais detalhes para consultar corretamente os dados.',\n    metadata: {\n      status: 'clarification_required',\n      interpretedIntent: $json.interpretedIntent\n    }\n  }\n}];"
      },
      "id": "10",
      "name": "Responder Esclarecimento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const dax = $json.interpretedIntent.dax;\nif (!dax || typeof dax !== 'string') throw new Error('Nenhuma DAX retornada pela LLM');\nreturn [{ json: { ...$json, daxQuery: dax } }];"
      },
      "id": "11",
      "name": "Preparar DAX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/{{$env.POWERBI_TENANT_ID}}/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{$env.POWERBI_CLIENT_ID}}"
            },
            {
              "name": "client_secret",
              "value": "={{$env.POWERBI_CLIENT_SECRET}}"
            },
            {
              "name": "scope",
              "value": "https://analysis.windows.net/powerbi/api/.default"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "12",
      "name": "Obter Token Microsoft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $json.access_token;\nif (!token) throw new Error('Nao foi possivel obter access_token da Microsoft');\nreturn [{ json: { ...$input.item.json, powerbiAccessToken: token } }];"
      },
      "id": "13",
      "name": "Guardar Token Microsoft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2990,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.powerbi.com/v1.0/myorg/groups/{{$json.companyContext.workspace_id}}/datasets/{{$json.companyContext.dataset_id}}/executeQueries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.powerbiAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"queries\":[{\"query\":$json.daxQuery}],\"serializerSettings\":{\"includeNulls\":true}}",
        "options": {}
      },
      "id": "14",
      "name": "Executar Consulta Power BI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3250,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.results?.[0]?.tables?.[0]?.rows || [];\nreturn [{ json: { ...$input.item.json, queryResult: { rows, raw: $json } } }];"
      },
      "id": "15",
      "name": "Extrair Linhas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const summaryPrompt = [\n  'Voce recebeu uma pergunta do usuario e o resultado real da consulta ao Power BI.',\n  'Responda em portugues claro, objetivo e profissional.',\n  'Nao invente dados que nao estejam no resultado.',\n  'Se houver poucas linhas, cite os principais valores.',\n  '',\n  'Pergunta:',\n  $json.chatInput,\n  '',\n  'DAX executada:',\n  $json.daxQuery,\n  '',\n  'Resultado:',\n  JSON.stringify($json.queryResult.rows, null, 2)\n].join('\\n');\n\nreturn [{ json: { ...$json, summaryPrompt } }];"
      },
      "id": "16",
      "name": "Montar Prompt de Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3750,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4.1-mini\",\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Voce resume resultados reais do Power BI em portugues claro e conciso.\"},{\"role\":\"user\",\"content\":$json.summaryPrompt}]}",
        "options": {}
      },
      "id": "17",
      "name": "Gerar Resposta Final com LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4010,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = $json.choices?.[0]?.message?.content || 'Consulta executada com sucesso.';\nreturn [{\n  json: {\n    sessionId: $input.item.json.sessionId,\n    company_id: $input.item.json.company_id,\n    message,\n    metadata: {\n      status: 'success',\n      workspace_id: $input.item.json.companyContext.workspace_id,\n      dataset_id: $input.item.json.companyContext.dataset_id,\n      daxQuery: $input.item.json.daxQuery,\n      interpretedIntent: $input.item.json.interpretedIntent,\n      rowCount: $input.item.json.queryResult.rows.length,\n      rows: $input.item.json.queryResult.rows\n    }\n  }\n}];"
      },
      "id": "18",
      "name": "Montar Payload Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4270,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "/*\nSubstitua este node por insert real.\nExemplo:\ninsert into chat_messages(session_id, user_id, company_id, role, content, dax_query, response_metadata)\nvalues (...)\n*/\nreturn [{ json: { ...$json, persisted: true } }];"
      },
      "id": "19",
      "name": "Salvar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4520,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "20",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4760,
        310
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'error', message: $json.message || 'Erro nao tratado no fluxo' } }];"
      },
      "id": "21",
      "name": "Formatar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        620
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Validar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Payload": {
      "main": [
        [
          {
            "node": "Buscar Empresa e Validar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Empresa e Validar Usuario": {
      "main": [
        [
          {
            "node": "Carregar Catalogo Semantico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Catalogo Semantico": {
      "main": [
        [
          {
            "node": "Montar Prompt LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt LLM": {
      "main": [
        [
          {
            "node": "Interpretar Pergunta com LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Pergunta com LLM": {
      "main": [
        [
          {
            "node": "Validar Saida LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Saida LLM": {
      "main": [
        [
          {
            "node": "Precisa Esclarecimento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Esclarecimento?": {
      "main": [
        [
          {
            "node": "Responder Esclarecimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar DAX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Esclarecimento": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar DAX": {
      "main": [
        [
          {
            "node": "Obter Token Microsoft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Token Microsoft": {
      "main": [
        [
          {
            "node": "Guardar Token Microsoft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Token Microsoft": {
      "main": [
        [
          {
            "node": "Executar Consulta Power BI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Consulta Power BI": {
      "main": [
        [
          {
            "node": "Extrair Linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Linhas": {
      "main": [
        [
          {
            "node": "Montar Prompt de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt de Resposta": {
      "main": [
        [
          {
            "node": "Gerar Resposta Final com LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Resposta Final com LLM": {
      "main": [
        [
          {
            "node": "Montar Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload Final": {
      "main": [
        [
          {
            "node": "Salvar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Log": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Erro": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
