n8n-fluxo-prime-completo-v2.json
{
  "name": "Fluxo Prime - Chat IA Power BI Completo v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        420
      ],
      "webhookId": "chat-ia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "sessionId",
              "value": "={{$json.body.sessionId || $json.sessionId || ''}}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "userId",
              "value": "={{$json.body.userId || $json.userId || ''}}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "userName",
              "value": "={{$json.body.userName || $json.userName || ''}}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "userEmail",
              "value": "={{$json.body.userEmail || $json.userEmail || ''}}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "user_role",
              "value": "={{$json.body.user_role || $json.user_role || 'user'}}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "chatInput",
              "value": "={{$json.body.chatInput || $json.chatInput || ''}}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "company_id",
              "value": "={{$json.body.company_id || $json.company_id || ''}}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "company_name",
              "value": "={{$json.body.company_name || $json.company_name || ''}}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "workspace_id",
              "value": "={{$json.body.workspace_id || $json.workspace_id || ''}}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "dataset_id",
              "value": "={{$json.body.dataset_id || $json.dataset_id || ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatInput = ($json.chatInput || '').trim();\nreturn [{ json: { ...$json, chatInput, originalQuestion: chatInput } }];"
      },
      "id": "3",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    value: {\n      dataset_id: $json.dataset_id,\n      workspace_id: $json.workspace_id,\n      default_period: 'mes_atual',\n      allowed_metrics: ['Pedidos Enviados', 'Vl Devolucao', 'Meta', '$ Tendencia Ped.', '% Tendencia Ped.'],\n      allowed_dimensions: ['vendedor', 'supervisor', 'gerente', 'cliente', 'produto']\n    }\n  }\n}];"
      },
      "id": "4",
      "name": "Get Client Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, sessionMemory: { last_metric: '', last_dimension: '', last_period: '', detected_metric: '', detected_dimension: '', detected_period: '' } } }];"
      },
      "id": "5",
      "name": "Get Session Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const question = ($json.chatInput || '').trim();\nconst normalizedQuestion = question.toLowerCase().replace(/\\s+/g, ' ');\nconst hasGreeting = /^(oi|ola|olá|bom dia|boa tarde|boa noite)\\b/.test(normalizedQuestion);\nconst hasGoodbye = /^(tchau|ate logo|até logo|obrigado|valeu)\\b/.test(normalizedQuestion);\nreturn [{ json: { ...$json, normalizedQuestion, hasGreeting, hasGoodbye, questionLength: question.length } }];"
      },
      "id": "6",
      "name": "Normalize Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $json.normalizedQuestion || '';\nlet intent = 'analytical_query';\nif ($json.hasGreeting) intent = 'greeting';\nelse if (!q || q.length < 3) intent = 'ambiguous';\nelse if (/filme|musica|tempo|piada/.test(q)) intent = 'out_of_scope';\nreturn [{ json: { ...$json, output: { intent, confidence: 0.96 } } }];"
      },
      "id": "7",
      "name": "Intent Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, user_profile: { role: $json.user_role || 'user', prefersCharts: false } } }];"
      },
      "id": "8",
      "name": "User Profile Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        420
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9",
      "name": "Merge Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.intent}}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.intent}}",
                    "rightValue": "out_of_scope",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Out of Scope"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.intent}}",
                    "rightValue": "analytical_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Analytical Query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.intent}}",
                    "rightValue": "ambiguous",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ambiguous"
            }
          ]
        },
        "options": {}
      },
      "id": "10",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2100,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11",
              "name": "response",
              "value": "Olá! Como posso ajudar com suas análises hoje?",
              "type": "string"
            },
            {
              "id": "12",
              "name": "responseType",
              "value": "greeting",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11",
      "name": "Simple Greeting Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13",
              "name": "response",
              "value": "Posso ajudar apenas com perguntas relacionadas aos dados e indicadores disponíveis no Power BI da sua empresa.",
              "type": "string"
            },
            {
              "id": "14",
              "name": "responseType",
              "value": "out_of_scope",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "12",
      "name": "Out of Scope Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15",
              "name": "response",
              "value": "Preciso de um pouco mais de contexto para responder. Você pode informar a métrica, dimensão ou período desejado?",
              "type": "string"
            },
            {
              "id": "16",
              "name": "responseType",
              "value": "clarification",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13",
      "name": "Request Clarification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, plan: { metric: 'Pedidos Enviados', dimension: 'vendedor', period: 'mes_atual', queryNeeded: true } } }];"
      },
      "id": "14",
      "name": "Analytical Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.plan.queryNeeded}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15",
      "name": "Validate Structure",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17",
              "name": "response",
              "value": "Não encontrei estrutura suficiente para consultar esta pergunta. Ajuste a solicitação e tente novamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "16",
      "name": "Request Adjustment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2780,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_CATALOG_URL || ''}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"company_id\": $json.company_id, \"workspace_id\": $json.workspace_id, \"dataset_id\": $json.dataset_id}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "17",
      "name": "Load Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18",
              "name": "catalog",
              "value": "={{$json}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "18",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3000,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const metric = $json.plan?.metric || 'Pedidos Enviados';\nconst dimension = $json.plan?.dimension || 'vendedor';\nreturn [{ json: { ...$json, daxQuery: `EVALUATE SUMMARIZECOLUMNS('${dimension}', \\\"${metric}\\\", [${metric}])` } }];"
      },
      "id": "19",
      "name": "DAX Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://login.microsoftonline.com/{{$env.POWERBI_TENANT_ID}}/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{$env.POWERBI_CLIENT_ID}}"
            },
            {
              "name": "client_secret",
              "value": "={{$env.POWERBI_CLIENT_SECRET}}"
            },
            {
              "name": "scope",
              "value": "https://analysis.windows.net/powerbi/api/.default"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        }
      },
      "id": "20",
      "name": "Get Token Service Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.powerbi.com/v1.0/myorg/groups/{{$json.workspace_id}}/datasets/{{$json.dataset_id}}/executeQueries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Get Token Service Principal').first().json.access_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"queries\": [{\"query\": $json.daxQuery}], \"serializerSettings\": {\"includeNulls\": true}}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "21",
      "name": "Execute Power BI Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3660,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.error?.message || ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22",
      "name": "Check Query Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3880,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.results?.[0]?.tables?.[0]?.rows || [];\nreturn [{ json: { ...$json, parsedRows: rows, hasRows: rows.length > 0 } }];"
      },
      "id": "23",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19",
              "name": "response",
              "value": "Não encontrei dados suficientes para responder com segurança essa pergunta.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24",
      "name": "Fallback Simplify",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4100,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.hasRows}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.parsedRows || [];\nconst sample = rows.slice(0, 5);\nconst message = sample.length ? `Encontrei ${rows.length} linha(s). Exemplo: ${JSON.stringify(sample[0])}` : 'Sem dados.';\nreturn [{ json: { ...$json, insightDraft: message } }];"
      },
      "id": "26",
      "name": "Insights Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4540,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $json.insightDraft || $json.response || 'Sem resposta final gerada.';\nreturn [{ json: { ...$json, output } }];"
      },
      "id": "27",
      "name": "Response Composer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20",
              "name": "response",
              "value": "Não encontrei nenhuma linha para essa consulta no período solicitado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "28",
      "name": "No Data Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4540,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.user_profile?.role || 'user'}}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29",
      "name": "Check BI Push Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4980,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21",
              "name": "pushMessage",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30",
      "name": "Build Push Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22",
              "name": "pushMessage",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "31",
      "name": "No Push Needed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "32",
      "name": "Merge Push Decision",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5420,
        320
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "chat_messages",
        "dataMode": "defineBelow",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{$json.output || $json.response || $json.pushMessage}}",
            "company_id": "={{$json.company_id}}",
            "role": "assistant",
            "response_metadata": "={{JSON.stringify({ sessionId: $json.sessionId, responseType: $json.responseType || '', hasRows: $json.hasRows || false })}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_metadata",
              "displayName": "response_metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "33",
      "name": "Create a row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5640,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23",
              "name": "output",
              "value": "={{$json.response || $json.output || $json.answer || $json.finalAnswer || $json.pushMessage || 'Sem resposta final gerada.'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34",
      "name": "Return Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5860,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"message\": $json.output}",
        "options": {}
      },
      "id": "35",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6080,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Config": {
      "main": [
        [
          {
            "node": "Get Session Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session Memory": {
      "main": [
        [
          {
            "node": "Normalize Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Question": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "User Profile Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile Detector": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Simple Greeting Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Out of Scope Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analytical Planner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Greeting Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Out of Scope Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Clarification": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytical Planner": {
      "main": [
        [
          {
            "node": "Validate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Structure": {
      "main": [
        [
          {
            "node": "Load Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Adjustment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Adjustment": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Catalog": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "DAX Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Token Service Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DAX Generator": {
      "main": [
        [
          {
            "node": "Execute Power BI Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Power BI Query": {
      "main": [
        [
          {
            "node": "Check Query Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Query Error": {
      "main": [
        [
          {
            "node": "Fallback Simplify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insights Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insights Engine": {
      "main": [
        [
          {
            "node": "Response Composer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Composer": {
      "main": [
        [
          {
            "node": "Check BI Push Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Data Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Simplify": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check BI Push Needed": {
      "main": [
        [
          {
            "node": "Build Push Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Push Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Push Message": {
      "main": [
        [
          {
            "node": "Merge Push Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Push Needed": {
      "main": [
        [
          {
            "node": "Merge Push Decision",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Push Decision": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "2",
  "triggerCount": 0,
  "tags": []
}
